[user]
  name = Jian Yuan Lee
  email = jianyuan@gmail.com
	signingkey = EF68D65A

[core]
  excludesfile = ~/.gitignore

[push]
  default = current

[commit]
  # https://help.github.com/articles/signing-commits-using-gpg/
  gpgsign = true

[gpg]
  # https://github.com/isaacs/github/issues/675
  program = /usr/local/bin/gpg
