[user]
	name = Jian Yuan Lee
	email = jianyuan@gmail.com
	signingkey = EF68D65A

[core]
	excludesfile = ~/.gitignore

[push]
	default = current

[commit]
	# https://help.github.com/articles/signing-commits-using-gpg/
	gpgsign = true

[gpg]
	# https://github.com/isaacs/github/issues/675
	program = /usr/local/bin/gpg

[diff]
	tool = meld
[difftool]
	prompt = false
[difftool "meld"]
	trustExitCode = true
	cmd = open -W -a Meld --args \"$LOCAL\" \"$PWD/$REMOTE\"
[merge]
	tool = meld
[mergetool]
	prompt = false
	keepBackup = false
[mergetool "meld"]
	trustExitCode = true
	cmd = open -W -a Meld --args --auto-merge \"$PWD/$LOCAL\" \"$PWD/$BASE\" \"$PWD/$REMOTE\" --output=\"$PWD/$MERGED\"
